*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  font-size: 13px;
}
.header{
  font-size: 14px;
}
.content{
  padding-left: 28px;
  padding-right: 28px;
}
.block{
  margin-bottom: 24px;
}
.bold{
  font-weight: bold;
}
.underline{
  text-decoration: underline;
}
ol{
  margin-top: 0;
}
.firm-block-wrapper > .title{
  font-size: 14px;
}
.contribution{
  margin-top: 3px;
}
.exp-block-wrapper{
  .content{
    padding: 0;
  }
}