body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}
.App{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.personal-info{
  border-bottom: 2px solid black;
}
.block{
  margin-bottom: 15px;
}

.target-position{
  margin-top: 15px;
}
.block>.title{
  font-weight: bolder;
  margin-bottom: 5px;
}
.firm-block-wrapper .bold{
  font-weight: bold;
}
.underline{
  text-decoration: underline;
}